<style>
    .red {
        box-shadow: 0px 0px 2px 2px red;
    }

    .ProfilePictureImage {
        width: 200px;
        height: 200px;
    }
</style>
<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadImageModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("UploadImage")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">{{l("SingleImage")}}<sup class="font-red">*</sup></label>
                        <div class="col-9">
                            <span class="btn default btn-file">
                                <input type="file" (change)="detectFile($event)" ng2FileSelect [uploader]="uploader1" class="form-control" name="file" />
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-xs-4">
                            <a href="#" class="d-block mb-4 h-100">
                                <img id="ProfilePictureResize" [hidden]="!temporaryPictureUrl" />
                                <!--<img id="ProfilePictureResize0" class="img-fluid img-thumbnail" src="/Temp/Downloads/LayoutBuildingTypeImage/layoutBuildingTypeImage_20180111183717929.jpg" ng-show="vm.uploadedFileName[0]">-->
                            </a>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">{{l("MultipleImage")}}<sup class="font-red">*</sup></label>
                        <div class="col-9">
                            <span class="btn default btn-file">
                                <input type="file" (change)="detectFiles($event)" ng2FileSelect [uploader]="uploader2" class="form-control" name="singleImage" />
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-xs-4">
                            <a href="#" class="d-block mb-4 h-100">
                                <img id="ProfilePictureResize0" class="ProfilePictureImage" [hidden]="!temporaryPictureUrl" />
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-2 col-xs-4">
                            <a href="#" class="d-block mb-4 h-100">
                                <img id="ProfilePictureResize1" class="ProfilePictureImage" [hidden]="!temporaryPictureUrl" />
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-2 col-xs-4">
                            <a href="#" class="d-block mb-4 h-100">
                                <img id="ProfilePictureResize2" class="ProfilePictureImage" [hidden]="!temporaryPictureUrl" />
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-2 col-xs-4">
                            <a href="#" class="d-block mb-4 h-100">
                                <img id="ProfilePictureResize3" class="ProfilePictureImage" [hidden]="!temporaryPictureUrl" />
                            </a>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-9 offset-sm-2">
                            <button class="btn btn-primary" (click)="uploadSingle()"><i class="fa fa-upload"></i> Upload</button>
                        </div>
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!roleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>-->

            </form>

        </div>
    </div>
</div>