<div bsModal #cleanModalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cleanModalModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #cleanModalForm="ngForm" novalidate (ngSubmit)="save(cleanModalForm.valid)">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="props.edit">{{l("EditAccount")}}: {{props.name}}</span>
                        <span *ngIf="props.edit === false">{{l("CleanModal")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="accountForm" (ngSubmit)="save()">
                        <div class="form-group m-form__group row">
                            <label class="col-md-3 col-form-label">{{l("FirstName")}}*</label>
                            <div class="col-md-9">
                                <div class="form-group m-form__group align-items-center">
                                    <input class="form-control" formControlName="firstName" id="firstName" name="firstName"/>
                                </div>
                                <div class="error_box" *ngIf="!accountForm.controls['firstName'].value == undefined || accountForm.controls['firstName'].value == ''">first name tidak boleh kosong</div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-md-3 col-form-label">{{l("CompanyName")}}*</label>
                                <div class="col-xl-9">
                                    <div class="form-group m-form__group align-items-center">
                                        <input class="form-control" formControlName="lastName" id="lastName" name="lastName"/>
                                    </div>
                                    <div class="error_box" *ngIf="!accountForm.controls['lastName'].value == undefined || accountForm.controls['lastName'].value == ''">last name tidak boleh kosong</div>
                                </div>
                        </div>
                                            
                        <div class="form-group m-form__group row">
                            <label class="col-md-3 col-form-label">{{l("Address")}}</label>
                            <div class="col-xl-9">
                                <div class="form-group m-form__group align-items-center">
                                    <input class="form-control" formControlName="address" id="address" name="address" />
                                </div>
                                <div class="error_box" *ngIf="!accountForm.controls['address'].value == undefined || accountForm.controls['address'].value == ''">address tidak boleh kosong</div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!accountForm.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
