<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Input Masks
            </h3>
            <span class="m-section__sub">
                Masking in input
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Input Mask Examples
                        <small>masking on input, currency format in input</small>
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form [formGroup]="editForm" *ngIf="active" (ngSubmit)="save()" class="m-form m-form--state">
            <div class="m-portlet__body">
                <div class="form-group row" [formControlStyle]="editForm">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Date
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <!--use the directive at 'app/main/share/input-mask.directive'-->
                        <input name="customDate" formControlName="customDate" type='text' class="form-control" inputMask="mm/dd/yyyy">
                        <span class="m-form__help">
                            Custom date format:
                            <code>
                                mm/dd/yyyy
                            </code>
                        </span>
                    </div>
                </div>
                <div class="form-group row" [formControlStyle]="editForm">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Custom Placeholder
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="customPlaceholder" formControlName="customPlaceholder" type='text' class="form-control" inputMask="mm/dd/yyyy" [inputMaskOptions]='inputMasks[0]'>
                        <span class="m-form__help">
                            Date mask with custom placeholder:
                            <code>
                                mm/dd/yyyy
                            </code>
                        </span>
                    </div>
                </div>
                <div class="form-group row" [formControlStyle]="editForm">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Phone Number
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="phoneNumber" formControlName="phoneNumber" type='text' class="form-control" inputMask="mask" [inputMaskOptions]="inputMasks[1]">
                        <span class="m-form__help">
                            Phone number mask:
                            <code>
                                (999) 999-9999
                            </code>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Empty Placeholder
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="exptyPlaceholder" formControlName="exptyPlaceholder" type='text' class="form-control" inputMask="" [inputMaskOptions]="inputMasks[2]">
                        <span class="m-form__help">
                            Phone number mask:
                            <code>
                                99-9999999
                            </code>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Repeating Mask
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="repeatingMask" formControlName="repeatingMask" type='text' class="form-control" inputMask="" [inputMaskOptions]="inputMasks[3]">
                        <span class="m-form__help">
                            Mask<code>9</code>,<code>99</code>or ...<code>9999999999</code>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Right Align
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="rightAlign" formControlName="rightAlign" type='text' class="form-control" inputMask="decimal" [inputMaskOptions]="inputMasks[4]">
                        <span class="m-form__help">
                            Right aligned numeric mask
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Currency
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="currency" formControlName="currency" type='text' class="form-control" inputMask="€ 999.999.999,99" [inputMaskOptions]="inputMasks[5]">
                        <span class="m-form__help">
                            Currency format
                            <code>
                                € ___.__1.234,56
                            </code>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Currency Separator with Decimal
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="decimal" formControlName="decimal" class="form-control" currencyMask>
                        <span class="m-form__help">
                            Add thousands separator <code>(,)</code>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        IP Address
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="ipAddress" formControlName="ipAddress" type='text' class="form-control" inputMask="" [inputMaskOptions]="inputMasks[6]">
                        <span class="m-form__help">
                            IP address mask:
                            <code>
                                999.999.999.999
                            </code>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-4 col-sm-12">
                        Email Address
                    </label>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <input name="emailAddress" formControlName="emailAddress" type='text' class="form-control" inputMask="" [inputMaskOptions]="inputMasks[7]">
                        <span class="m-form__help">
                            Email mask:
                            <code>
                                _@_
                            </code>
                        </span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button [disabled]="!editForm.valid" type="submit" class="btn btn-brand">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>