<div [@routerTransition]>

    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-12">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>Form Controls</span>
                </h3>
                <span class="m-section__sub">
                    Validation in Forms
                </span>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Form Control Examples
                            <small>implementation of form validation</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <!-- Start Form -->
                <form (ngSubmit)="save()" [formGroup]="validationForm" class="m-form m-form--state">
                    <div class="form-group row" [formControlStyle]="validationForm">
                        <label class="col-sm-2 col-form-label">{{l("PositionName")}}<sup class="m--font-danger">*</sup></label>
                        <div class="col-sm-10">
                            <input id="positionName" #hasMessage formControlName="positionName" class="form-control" type="text" [(ngModel)]="model.positionName" placeholder="{{l('PositionName')}}" required autofocus/>
                        </div>
                    </div>
                    <div class="form-group row" [formControlStyle]="validationForm">
                        <label class="col-sm-2 col-form-label">{{l("PositionCode")}}<sup class="m--font-danger">*</sup></label>
                        <div class="col-sm-10">
                            <input id="positionCode" #hasMessage formControlName="positionCode" class="form-control" type="text" [(ngModel)]="model.positionCode" placeholder="{{l('PositionCode')}}" required/>
                        </div>
                    </div>
                    <div class="form-group row" [formControlStyle]="validationForm" formComponent="select">
                        <label class="col-sm-2 col-form-label">{{l("Department")}}<sup class="m--font-danger">*</sup></label>
                        <div class="col-sm-10" formComponent="select">
                            <select #departmentCombo id="department" #hasMessage formControlName="department" class="form-control" [(ngModel)]="model.department">
                                <option value="">{{l('NothingSelected')}}</option>
                                <option value="1">Human resource</option>
                                <option value="2">Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" [formControlStyle]="validationForm" formComponent="example-ddl">
                        <label class="col-sm-2 col-form-label">{{l("Example")}}<sup class="m--font-danger">*</sup></label>
                        <div class="col-sm-10">
                            <example-ddl #hasMessage formControlName="exampleShare" [(ngModel)]="model.exampleShare"></example-ddl>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">{{l("Status")}}</label>
                        <div class="col-sm-10 form-group align-items-center col-form-label">
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input id="isActive" formControlName="isActive" type="checkbox" [(ngModel)]="model.isActive">
                                    <div>{{l("Active")}}</div>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="!validationForm.valid" class="btn btn-primary">
                        <i class="la la-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </form>
                <!-- End Form -->
            </div>
        </div>
    </div>

</div>