<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{l("DatePicker")}}
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <form [formGroup]="validationForm" (ngSubmit)="save(validationForm.valid)" class="m-form m-form--state">
            <div class="form-group m-form__group row" [formControlStyle]="validationForm">
                <label class="col-sm-2">Date picker<sup class="m--font-danger">*</sup></label>
                <div class="col-sm-10">
                    <div class="input-group date">
                        <input #datePickElement required [(ngModel)]="datepickSelected" name="datepickSelected" datePicker class="form-control" formControlName="datepicker">
                        <span class="input-group-addon">
                            <i class="la la-calendar"></i>
                        </span>
                        <span class="input-group-addon">
                            <a (click)="clearDate()"><small>{{l('Clear')}}</small></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row" [formControlStyle]="validationForm">
                <label class="col-sm-2">Datetime picker</label>
                <div class="col-sm-10">
                    <div class="input-group date">
                        <input [(ngModel)]="datetimepickSelected" name="datetimepickSelected" datePicker dateType="datetime" class="form-control" formControlName="datetimepicker">
                        <span class="input-group-addon">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-sm-12">
                    <button [disabled]="!validationForm.valid" type="submit" class="btn btn-primary">
                        <i class="la la-save"></i> <span>{{l("Save")}}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>